@media (max-width: 500px) {
  .game-container-top-bet-balance, .game-container-top-space {
    display: none !important;
  }
  .game-container-bottom {
    flex-direction: column;
  }
  .scores-table-top span:nth-child(4), .scores-table-bottom li span:nth-child(4) {
    display: none !important;
  }
  .game-container-middle {
    flex-direction: row;
    &-roll {
      &-title {
        display: none;
      }
      &-title2 {
        display: block;
      }
    }
    span:first-child {
      order: 3;
    }
    span:last-child {
      order: 1;
    }
  }
  .game-container {
    &-bottom-balance-eos {
      order: 1;
    }
    &-bottom-balance-bet {
      order: 2;
      padding: 10px 0px;
    }
    &-roll-btn {
      order: 3;
    }
  }
}

@media (min-width: 500px) {
  .game-container-middle {
    flex-direction: column;
  }
  .game-container-middle-roll-title {
    display: block;
  }
  .game-container-middle-roll-title2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .game-container-top {
    flex-direction: column;
    &-amount {
      margin-right: 0px;
    }
    &-profit {
      margin-top: 20px;
    }
  }
  .navbar-coin {
    display: block;
  }
}

@media (max-width: 635px) {
  .game-container-bottom-left-bottom {
    flex-direction: column;
    &-left {
      margin-right: 0px;
    }
    &-right-span {
      margin-top: 20px;
    }
  }
}

@media (max-width: 655px) {
  .navbar-coin {
    display: none;
  }
  .navbar-refferals {
    display: none !important;
  }
  .navbar-faq {
    display: none !important;
  }
  .navbar-community {
    display: none !important;
  }
  .navbar-fairness {
    display: none !important;
  }
}

@media (min-width: 655px) {
  .dropdown-toggler {
    display: none !important;
  }
}

@media (max-width: 730px) {
  .scores-table-top span:nth-child(3), .scores-table-bottom li span:nth-child(3), .scores-table-top span:nth-child(5), .scores-table-bottom li span:nth-child(5) {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .scores-table-top span:nth-child(1), .scores-table-bottom li span:nth-child(1) {
    display: none !important;
  }
}