@media (max-width: 500px) {
  .game-container-top-bet-balance, .game-container-top-space {
    display: none !important;
  }
  .game-container-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scores-table-top span:nth-child(4), .scores-table-bottom li span:nth-child(4) {
    display: none !important;
  }
  .game-container-middle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .game-container-middle-roll-title {
    display: none;
  }
  .game-container-middle-roll-title2 {
    display: block;
  }
  .game-container-middle span:first-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .game-container-middle span:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .game-container-bottom-balance-eos {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .game-container-bottom-balance-bet {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 10px 0px;
  }
  .game-container-roll-btn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (min-width: 500px) {
  .game-container-middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .game-container-middle-roll-title {
    display: block;
  }
  .game-container-middle-roll-title2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .game-container-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .game-container-top-amount {
    margin-right: 0px;
  }
  .game-container-top-profit {
    margin-top: 20px;
  }
  .navbar-coin {
    display: block;
  }
}

@media (max-width: 635px) {
  .game-container-bottom-left-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .game-container-bottom-left-bottom-left {
    margin-right: 0px;
  }
  .game-container-bottom-left-bottom-right-span {
    margin-top: 20px;
  }
}

@media (max-width: 655px) {
  .navbar-coin {
    display: none;
  }
  .navbar-refferals {
    display: none !important;
  }
  .navbar-faq {
    display: none !important;
  }
  .navbar-community {
    display: none !important;
  }
  .navbar-fairness {
    display: none !important;
  }
}

@media (min-width: 655px) {
  .dropdown-toggler {
    display: none !important;
  }
}

@media (max-width: 730px) {
  .scores-table-top span:nth-child(3), .scores-table-bottom li span:nth-child(3), .scores-table-top span:nth-child(5), .scores-table-bottom li span:nth-child(5) {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .scores-table-top span:nth-child(1), .scores-table-bottom li span:nth-child(1) {
    display: none !important;
  }
}
/*# sourceMappingURL=mediaQueries.css.map */