// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}

.modal-header {
  border-bottom: none !important;
}

.navbar.navbar-dark {
  background-color: $navbar-dark-bg;
}

.modal-title {
  font-weight: bold;
}

.modal * {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.modal-bettoken {
  width: 35%;
  margin-bottom: 15px;
}

.modal-title {
  width: 100%;
  text-align: center;
  margin-right: -22px;
}

.fairness-input {
  background-color: #f5f5f5;
}

.fairness-seed {
  word-wrap: break-word;
}

.btn-secondary {
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}

.btn-secondary:focus, .btn-secondary:active, .btn-secondary:hover, .btn-secondary:disabled {
  background-color: $secondary !important;
  border: none;
  color: #ffffff !important;
}

.btn-secondary:disabled {
  opacity: .80 !important;
}

.game-container-middle-wrapper {
  background-color: #ecedf0;
}