$border-radius: 5px;
$primary: #0191EE;
$secondary: #0191EE;
$success: #02F292;
$danger: #F10260;
$navbar-dark-bg: #3F3E3E;

$spacers: (
  20: 20px
);

$sizes: (
  90: 90%
);

$modal-content-bg: #f5f5f5;
$grid-breakpoints: (
  xs: 0px,
  250: 250px,
  350: 350px,
  sm: 500px,
  600: 600px,
  md: 655px,
  lg: 730px,
  xl: 1200px
) !default;