@import './base.scss';

* {
  font-family: $font-family;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff !important;
}

html, body {
  background-color: #191919;
}

.flex-fill-1 {
  flex: 1 !important;
}

.community {
  &-body {
    display: flex;
    justify-content: space-around;
  }
  &-icon {
    color: #3c3c3c;
    padding: 12.5px;
    flex: 1;
    border-radius: 50%;
    font-size: 25px !important;
    height: 50px;
    width: 50px;
    transition: all 0.5s;
    font-family: 'FontAwesome';
    &:hover {
      background: #7a0fff;
      color: #fff;
    }
  }
}

.fairness {
  &-body {
    display: flex;
    flex-direction: column;
  }
  &-input {
    border: 1px solid #3f3e3e;
    background-color: #4b4848;
    border-radius: 5px;
    outline: none;
    padding: 2px;
    font-weight: 500;
    flex: 1;
    margin-right: 10px;
    &-wrapper {
      display: flex;
      width: 100%;
    }
  }
  &-seed {
    background-color: #3F3E3E;
    padding: 5px;
    border-radius: 5px;
    &-title {
      font-weight: 500;
    }
    &-title2 {
      font-weight: 500;
      margin-top: 5px;
    }
  }
}

.referral {
  &-body {
    display: flex;
  }
  &-btn {
    background-color: #2b56f5;
    color: #ffffff;
  }
  &-name {
    background-color: #3F3E3E;
    padding: 12px;
    border-radius: 5px;
    border: 0;
    width: 100%;
    flex: 1;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.navbar-link:hover {
  cursor: pointer;
}

.modal-backdrop.show {
  opacity: .75;
}

.ui-slider-tooltip {
  font-size: 14px;
  position: absolute;
  top: -34px;
  left: -7px;
  text-align: center;
  color: #ffffff;
  background-color: #00000088;
  padding: 1px 10px;
}

.ui-slider-tooltip::after {
  top: 100%;
  border-top: 7px solid #00000088;
  position: absolute;
  content: '';
  left: 10px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.my-handle {
  outline: none;
  cursor: grabbing !important;
  right: -2px;
}

.alert {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  margin: 65px auto;
  max-width: 400px;
}

.alert-warning {
  background-color: #4b4848;
  border: 1px solid #000000;
}

.dropdown-menu {
  background-color: #4b4848;
}