.scores-inactive, .scores-active {
  justify-content: center;
  text-transform: uppercase;
  color: #9b9fae;
  border: none;
  border-bottom: 2px solid #dfe0e5;
  display: flex;
  padding: 7px 35px;
  background-color: #ffffff;
}

.scores-active {
  border-color: #3b3e4c !important;
  color: #3b3e4c !important;
}

.scores-table-title {
  font-size: 14px;
  color: #666b82;
}

.off-color {
  background-color: #ecedf0;
  border-radius: 5px;
}