.scores-inactive, .scores-active {
  justify-content: center;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #bbbbbb;
  display: flex;
  padding: 7px 35px;
  background-color: inherit;
}

.scores-inactive span {
  color: #bbbbbb !important;
}

.scores-active {
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.scores-table-title {
  font-size: 14px;
  color: #666b82;
}

.off-color {
  background-color: #292929;
  border-radius: 5px;
}