* {
  font-family: 'Open Sans', sans-serif;
}

.flex-fill-1 {
  flex: 1 !important;
}

.navbar.navbar-dark {
  background-color: #071162;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar.navbar-dark .dropdown::before {
  bottom: 100%;
  border-bottom: 7px solid #fff;
  position: absolute;
  content: '';
  left: 10px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.navbar.navbar-dark .dropdown-menu {
  border-radius: 0.3em;
  padding: 0px;
  min-width: auto;
}

.navbar.navbar-dark .dropdown-item {
  padding: 0.8em 1.4em;
  background: #ffffff;
  border-bottom: 1px solid #ecedf0;
  color: #666b82;
  font-size: 13px;
  letter-spacing: 0.2px;
}

.navbar.navbar-dark .dropdown-item {
  padding: 0.8em 1.4em;
  background: #ffffff;
  border-bottom: 1px solid #ecedf0;
  color: #666b82;
  font-size: 13px;
  letter-spacing: 0.2px;
  white-space: nowrap;
}

.navbar.navbar-dark .dropdown-item.center {
  text-align: center;
  display: flex;
}

.navbar.navbar-dark .dropdown-item:hover {
  background-color: #ecedf0;
}

.navbar.navbar-dark .dropdown-item:first-child {
    border-radius: 0.3em 0.3em 0 0 !important;
}

.navbar.navbar-dark .dropdown-item:last-child {
    border-radius: 0 0 0.3em 0.3em !important;
}

.navbar.navbar-dark .navbar-dropdownbtn {
  position: relative;
}

.navbar.navbar-dark .dropdown-right::before {
  bottom: 100%;
  border-bottom: 7px solid #fff;
  position: absolute;
  content: '';
  right: 10px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.navbar.navbar-dark .dropdown-middle {
  left: 0;
  right: 0;
}

.navbar.navbar-dark .dropdown-middle::before {
  bottom: 100%;
  border-bottom: 7px solid #fff;
  position: absolute;
  content: '';
  width: 15px;
  margin: 0 auto;
  right: 0px;
  left: 0px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.navbar.navbar-dark .navbar-hr {
  width: 1px;
  height: 14px;
  background-color: #ffffffcc;
  margin: auto 15px;
}

.navbar.navbar-dark .navbar-wrapper {
  width: 100%;
}

.navbar.navbar-dark .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar.navbar-dark .navbar-brand-svg {
  display: block;
  margin-top: -3px;
}

.navbar.navbar-dark .navbar-brand-span {
  color: #ffffff;
  font-weight: 600;
  margin-left: 16px;
}

.navbar.navbar-dark .navbar-link {
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar.navbar.navbar-dark .navbar-arrow {
  margin-left: 0.5em;
}

.navbar.navbar.navbar-dark .navbar-coin {
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

.navbar.navbar-dark .navbar-balance {
  background-color: #2b56f5;
  height: 40px;
  min-width: 70px;
  border-radius: 0.2em;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1px;
  display: flex;
}

.game {
  background-color: #2b56f5;
  width: 100%;
  display: flex;
}

.game .game-container {
  max-width: 730px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 40px;
  font-size: 18px;
  border-radius: 0.3em;
}

.game .tabs {
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: #ecedf0;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  margin-bottom: 0px;
}

.game .nav-item:first-child .nav-link {
  border-top-right-radius: 0;
  border-top-left-radius: 0.3em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.3em 1.3em;
  height: 100%;
  text-align: center;
  color: #9b9fae;
}

.game .nav-item {
  width: 50%;
  list-style: none;
}

.game .nav-item:last-child .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0.3em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.3em 1.3em;
  height: 100%;
  text-align: center;
  color: #9b9fae;
  cursor: not-allowed;
}

.game .nav-item .nav-link.active {
  color: #3b3e4c;
  background-color: #fff;
}

.game .game-container-top, .game .game-container-middle {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
}

.game .game-container-top-amount {
  margin-right: 20px;
  flex: 5;
}

.game .game-container-top-amount, .game .game-container-top-profit {
  display: flex;
  flex-direction: column;
}

.game .game-container-top-amount span, .game .game-container-top-profit span {
  font-weight: 600;
  font-size: 0.6em;
  margin-bottom: 0.75em;
  text-transform: uppercase;
  color: #9b9fae;
}

.game .game-container-top-amount-input-wrapper img {
  position: absolute;
  height: 22px;
  margin-left: 10px;
}

.game .game-container-top-amount-input-wrapper {
  background-color: #ecedf0;
  padding: 2px;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
}

.game .game-container-top-amount-input {
  text-align: center;
  border: none;
  padding: 8px 12px;
  width: 100%;
  border-radius: 0.3em;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #3b3e4c;
  font-size: 18px;
  outline: none;
}

.game .game-container-top-amount-input-btn {
  background-color: #ecedf0;
  border: none;
  cursor: pointer;
  padding: 8px 15px;
  outline: none;
}

.game .game-container-top-amount-input-btn:hover {
  background: #dfe0e5;
}

.game .game-container-top-amount-input-btn.with-side::before {
  content: '';
  position: absolute;
  margin: 0 0 0 -15px;
  width: 2px;
  height: 30px;
  background: #d1d2d9;
  pointer-events: none;
}

.game .game-container-top-profit {
  flex: 2;
}

.game .game-container-top-profit-amount {
  background-color: #ecedf0;
  padding: 2px;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #3b3e4c;
  font-size: 18px;
}

.game .game-container-top-profit-amount img {
  height: 22px;
  margin-left: -30px;
  margin-right: 5px;
}

.game .game-container-middle-bg {
  background-color: #ecedf0;
  padding: 5px;
  border-radius: 0.3em;
  width: 100%;
}

.game .game-container-middle-wrapper {
  border-radius: 0.3em;
  display: flex;
  width: 100%;
}

.game .game-container-middle-wrapper button {
  display: flex;
  border: none;
  background-color: #ffffff;
  flex-direction: column;
  padding: 0.4em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.3em;
  width: 33.3333%;
  align-items: center;
}

.game .game-container-middle-roll-title, .game .game-container-middle-payout-title, .game .game-container-middle-chance-title {
  font-weight: 600;
  font-size: 0.6em;
  margin-bottom: 0.75em;
  text-transform: uppercase;
  color: #9b9fae;
}

.game .game-container-middle-roll-value-wrapper {
  display: flex;
  flex-direction: column;
}

.game .game-container-middle-roll-value {
  font-size: 1.2em;
  text-transform: none;
  color: #3b3e4c;
  padding: 0 6px;
}

.game .game-container-middle-payout {
  width: 33.3333%;
  text-align: center;
}

.game .game-container-middle-payout-input, .game .game-container-middle-chance-input {
  background-color: inherit;
  border: none;
  font-size: 1.2em;
  color: #3b3e4c;
  text-align: center;
  width: 90%;
}

.game .game-container-middle-payout-input:focus, .game .game-container-middle-chance-input:focus {
  background-color: #ffffff;
  border-radius: 2px;
}

.game .game-container-middle-hr {
  background: #0000002c;
  border: none;
  width: 2px;
  height: 55px;
}

.game .game-container-middle-chance {
  width: 33.3333%;
  text-align: center;
}

.game .game-container-bottom {
  background-color: #ffffff;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  text-align: center;
  padding: 20px;
}

.game .game-container-roll-btn {
  background-color: #8fd2fe;
  color: #ffffff;
  border: none;
  padding: 15px 50px;
  border-radius: 5px;
}

.game #slider {
  background-color: #F10260;
  width: 100%;
  height: 10px;
  margin-top: 40px;
  border-radius: 5px;
}

.game #slider #custom-handle {
  margin-top: -15px;
  display: flex;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  position: relative;
  text-align: center;
  top: 50%;
  z-index: 1;
  align-items: center;
}

.game #slider .ui-slider-range {
  background-color: #02F292;
  width: 50%;
  position: relative;
  float: right;
  height: 10px;
  margin-top: -15px;
  border-radius: 5px;
  display: flex;
}

.game #slider #custom-handle div {
  margin: 0 auto;
  display: flex;
}

.game #slider #custom-handle div div {
  width: 2px;
  height: 12px;
  background: #00000020;
  margin-right: 3px;
}

.game #slider #custom-handle div div:last-child {
  margin-right: 0;
}

.scores {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.scores .scores-switch {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.scores .scores-switch button {
  justify-content: center;
  text-transform: uppercase;
  color: #9b9fae;
  border: none;
  border-bottom: 2px solid #dfe0e5;
  display: flex;
  padding: 20px 10px;
  background-color: #ffffff;
}

.scores .scores-active {
  border-color: #3b3e4c !important;
  color: #3b3e4c !important;
}

.scores .scores-table {
  width: 90%;
  text-align: center;
  margin-top: 20px;
}

.scores .scores-table-top span {
  font-size: 14px;
  color: #666b82;
}

.scores .scores-table-bottom {
  display: flex;
  flex-direction: column;
}

.scores .scores-table-bottom li {
  padding: 20px 0px;
  width: 100%;
}

.scores .scores-table-bottom li.off {
  background-color: #ecedf0;
  border-radius: 5px;
}

.scores .scores-table-bottom li span {
  text-align: center;
}

.scores .scores-table-bottom li span.loss {
  color: #F10260;
}

.scores .scores-table-bottom li span.win {
  color: #02F292;
}

@media (max-width: 345px) {
  .navbar.navbar-dark .navbar-more {
    display: none;
  }
}

@media (max-width: 455px) {
  .navbar.navbar-dark .navbar-account {
    display: none;
  }
}

@media (max-width: 595px) {
  .navbar.navbar-dark .navbar-brand-span {
    display: none;
  }
}

@media (max-width: 690px) {
  .navbar.navbar-dark .navbar-fairness {
    display: none;
  }
}

@media (max-width: 915px) {
  .navbar.navbar-dark .navbar-deposit, .navbar.navbar-dark .navbar-withdraw, .navbar.navbar-dark .navbar-hr {
    display: none;
  }
}

@media (max-width: 1000px) {
  .navbar.navbar-dark .navbar-faucet {
    display: none;
  }
}

@media (max-width: 1100px) {
  .navbar.navbar-dark .navbar-community {
    display: none;
  }
}
